body{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: #45d1be75;
}
h3{
    color: rgb(69, 204, 103);
}
p{
    margin-bottom: 5px;
    font-size: 20px;
    color: rgb(82, 104, 226);
}
main{
    border: 5px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin:auto;
    margin-top: 40px;
}
hr{
    height: 2px;
    border-width: 0;
    color: rgb(51, 51, 51);
    background-color: rgb(51, 51, 51);
}
.container {
    width: 100%; 
    background-color: #ddd;
  }
.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
}
.html {width: 90%; background-color: rgb(66, 204, 73);} 
.css {width: 50%; background-color: rgb(57, 82, 224);} 
.js {width: 20%; background-color: rgb(230, 71, 43);}
.wp {width: 90%; background-color: rgb(57, 224, 224);}
.python {width: 60%; background-color: rgb(245, 129, 35);}